
.tobi > img {
  width: 30%
}
.user-info {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin-top:50px;
  border-radius: 4px;
  padding-top:20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}
