<div class="banner">
  <%= image_tag 'x.png', class: "the-x" %>
  <div class="container">
    <p>Herzlich Willkommen in der</p>
    <h1>Tiroler Skischule Jochberg Wagstätt!</h1>
    <a class="btn btn-danger pl-3 pr-3 pt-2 pb-2 mt-3" href="/kurse">Zum Kursangebot</a>
  </div>
</div>
<div class="container mt-3" style="margin-bottom: 150px;">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('placeholder1')">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('placeholder1')">
      Lunch
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('placeholder1')">
      Dinner
    </div>
  </div>
</div>
