<div class="banner">
  <div class="container banner-text">
    <%= image_tag 'x.png', class: "the-x" %>
    <p class="ml-3">Herzlich Willkommen in der</p>
    <h1 class="ml-3">Tiroler Skischule Jochberg Wagstätt!</h1>
    <a class="btn btn-danger pl-3 pr-3 pt-2 pb-2 mt-3 ml-3" href="/kurse">Zum Kursangebot</a>
  </div>
</div>
<div class="container mt-3" style="margin-bottom: 150px;">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('placeholder1')">
      Genial einfach!
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('placeholder1')">
      Individuell
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('placeholder1')">
      Professionell
    </div>
  </div>
</div>
