<%# raise %>
<div class="container">
  <h2>for here:</h2>
  <ul>
    <li><p>Kontaktperson</p></li>
    <li><p>Email</p></li>
    <li><p>Nummer</p></li>
    <li><p>Kontaktformular?</p></li>
    <li><p>Map/Anfahrt</p></li>
  </ul>

  <div class="team mb-5" style="background-image: url(https://static-maps.yandex.ru/1.x/?lang=en_US&ll=12.387577,47.370209&size=600,400&z=11&l=map&pt=12.387577,47.370209,pm2rdm); height: 30vh;">
    <div class="container">
      <p><em><strong>placeholder img, dynamic map later</strong></em></p>
    </div>
  </div>
</div>
