<div class="container mt-3">
  <div class="user-info mb-5">
    <div class="row">
      <div class="col-6">
        <ul>
          <li><p>Sonnenfeldweg 15/2, 6373 Jochberg</p></li>
          <li><p>Mobil: +43 (0)664 / 35 83 389</p></li>
          <li><p>Email: info@tsjw.at</p></li>
          <li><p style="color: red;">Map/Anfahrt</p></li>
        </ul>
      </div>
      <div class="col-6">
        <%= image_tag 'placeholder3.png', class: "kontakt-person" %>
        <p>Leitung: Tobias Dankl</p>
      </div>
    </div>
  </div>
</div>

<!--   <div class="team mb-5" style="background-image: url(https://static-maps.yandex.ru/1.x/?lang=en_US&ll=12.387577,47.370209&size=600,400&z=11&l=map&pt=12.387577,47.370209,pm2rdm); height: 30vh;">
    <div class="container">
      <p><em><strong>placeholder img, dynamic map later</strong></em></p>
    </div>
  </div>
</div> -->
<!-- <%# raise %>
  <h2>for here:</h2>
  <div class="container">
    <div class="row">
      <div class="tobi col-6">
      </div>
      <ul class="col-6">
        <li><p>Sonnenfeldweg 15/2, 6373 Jochberg</p></li>
        <li><p>Mobil: +43 (0)664 / 35 83 389</p></li>
        <li><p>info@tsjw.at</p></li>
        <li><p>Map/Anfahrt</p></li>
      </ul>
    </div> -->
