<div class="container mt-5">
  <h2>oder andere infos...</h2>
  <hr>
  <h2 class="mt-5">Aktuelles foto oder individuelle fotos</h2>
  <div class="team mb-5" style="background-image: url(http://skischule.xdims.com/files/Public/Skischule/bilder-webseite/Team/IMG_5709.JPG);">
    <!-- space for info to appear on hover -->
  </div>
</div>

